.layout {
    background: rgba(0, 0, 0, 0) !important;
}

.comodo-page {
    margin-top: 100px;

    .video-player {
        margin: auto;
        padding: 0 5px 10px!important;
        width: 100% !important;
        // height: 100% !important;
        height: 80vh !important;
        justify-content: center;

        /* smartphones, iPhone, portrait 480x320 phones */
        @media (min-width:320px)  { 
            height: 50vh !important;
        }
        /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
        @media (min-width:481px)  { 
            height: 50vh !important;
        }
        /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
        @media (min-width:641px)  { 
            height: 70vh !important;
        }
        /* tablet, landscape iPad, lo-res laptops ands desktops */
        @media (min-width:961px)  { 
            height: 80vh !important;
        }
        /* big landscape tablets, laptops, and desktops */
        @media (min-width:1025px) { 
            height: 80vh !important;
        }
        /* hi-res laptops and desktops */
        @media (min-width:1281px) { 
            height: 80vh !important;
        }
    }

    .playlist {
        margin: auto;
        padding: 0 5px !important;
        text-align: center;

        .ant-menu {
            background: rgba(185, 185, 185, 0.5) !important;
            font-weight: 900 !important;
    
            color: #fff !important;
            a {
                color: #fff !important;
            }

            .ant-menu-item-disabled {
                color: rgba(0, 0, 0, .8) !important;
                a {
                    color: rgba(0, 0, 0, .8) !important;
                }
            }

            // height: 65vh;
            // overflow-y: scroll;
        }

        button {
            margin-top: 10px;
            
        }
    }

    .comodo-background-image {
        min-height: 100%;
        min-width: 1024px;
    
        width: 100%;
        height: auto;
    
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        filter: brightness(40%);
    }

    .card-dica {
        margin: 0 5px 10px !important;

        background: rgba(185, 185, 185, 0.5) !important;
        font-weight: 900 !important;
        // background: rgba(0, 0, 0, 0.5) !important;
        // color: #fff !important;
        
        z-index: 9;
    }
}