.layout {
    background: rgba(0, 0, 0, 0) !important;
}

.comodo-page {
    margin-top: 100px;

    .video-player {
        margin: auto;
        width: 100% !important;
        // height: 100% !important;
        height: 80vh !important;
        justify-content: center;
    }

    .playlist {
        width: 160px;
        margin: auto;

        .ant-menu {
            background: rgba(185, 185, 185, 0.5) !important;
            font-weight: 900 !important;
    
            color: #fff !important;
            a {
                color: #fff !important;
            }

            // height: 65vh;
            // overflow-y: scroll;
        }

        button {
            margin-top: 10px;
        }
    }

    .comodo-background-image {
        min-height: 100%;
        min-width: 1024px;
    
        width: 100%;
        height: auto;
    
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        filter: brightness(40%);
    }
}