.equipe-page {
    font-weight: 900 !important;

    .logo-outer {
        position  : relative;
        width     : 100%;
        height    : 100%;
        text-align: center;
        z-index: -1;

        .logo-inner {
            margin-top: 110px;
            width     : 40vw;
            display: inline-block;
        }
    }

    .equipe-container {
        text-align: center;
        margin-top: 5% !important;

        .nome {
            color: #fff;
        }
    }
}
