.menu-solitaria {
    background: rgba(185, 185, 185, 0.7) !important;
    font-weight: 900 !important;

    z-index: 10;
    // padding: 0 0px !important;
}

.ant-menu-item:hover {
    background: rgba(0, 0, 0, 0.5) !important;
    color: #fff !important;
    border-color: #fff !important;

    > a {
        color: #fff !important;
    }
}

.ant-menu-item-selected {
    background: rgba(0, 0, 0, 0.5) !important;
    color: #fff !important;
    border-color: #fff !important;

    > a {
        color: #fff !important;
    }
}

//  .ant-layout-header {
//     height: auto !important;
//     padding: 0 !important;
//  }